.bg-light-25{
  background-color: rgba(249,248,249, .25);
}

.bg-light-50{
  background-color: rgba(249,248,249, .5);
}

.bg-light-75{
  background-color: rgba(249,248,249, .75);
}

.bg-dark-25{
  background-color: rgba(0,0,0, .25);
}

.bg-dark-50{
  background-color: rgba(0,0,0, .5);
}

.bg-dark-75{
  background-color: rgba(0,0,0, .75);
}

.text-justify{
  text-align: justify!important;
}

main > .container {
  padding: 60px 15px 0;
}